html {
  font-size: 18px;
  font-family: Helvetica;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
header {
  background-color: black;
  justify-content: center;
  padding: 0.66rem 0rem;
}

h2 {
  font-size: 1rem;
  color: white;
  display:inline-block;

}

.logo {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
  vertical-align: middle;
}

.banner {
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  height: 25rem;
}
.banner-text {
  padding: 2rem 0rem 2rem 3rem;
  font-weight: bold;
  color: white;
  background-color: black;
  width: 20rem;
  position:relative;
  top:9rem;
}

h1 {
  font-size: 2rem;
  margin: auto;
}

h4 {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}
nav {
  background-color: firebrick;
  padding: 0.75rem 0rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
}
a {
  color: white;
  text-decoration: none;
}

.mobile-nav, .mobile-nav a {
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
}

.images {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0rem;
}

div.product-image {
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
  border: 4px solid black;
  overflow: hidden;
}

.product-image img{
  max-width: 8em;
}

.product {
  width: 30%;
}

.caption {
  color: white;
  background-color: black;
  text-align: center;
  padding: 0.5rem 0rem;
  display: block;
}

.location-hours {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

.box {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-bottom: 4rem;
}

h3 {
  background-color: black;
  padding: 1rem 2rem;
  color: white;
}

footer {
  background-color: black;
  color: white;
  padding: 5rem 0rem;
}

@media only screen and (max-width:1024px){
  .product {
    width: 47%;
  }
.sunglasses {
  display: none;
}
ul.wrapper {
  display: none;
}
}
@media only screen and (min-width:1024px){
  .mobile-nav{
    display: none;
  }
  html {
    font-size: 16px;
  }
}

@media only screen and (max-width:470px){
  .product {
    width: 90%;
    margin:auto;  }

  .box {
    width: 90%;
    margin: 0.5em auto;
  }
.sunglasses, .watch {
  display: none;
}
ul.wrapper {
  display: none;
}
footer {
text-align:center;}

.location-hours {
  flex-wrap: wrap;
}
.banner-text {
position: relative;
top: 10.2rem;
padding-left: 2rem;
padding-top:1rem;
width:auto;
}
.banner {
  height: 15rem;
}
h4 {
  font-size: 0.77rem;

}
h1 {
  font-size: 1rem;
}
}
